/* 
--black: #000505ff;
--space-cadet: #3b3355ff;
--ultra-violet: #5d5d81ff;
--columbia-blue: #bfcde0ff;
--white: #fefcfdff; 
*/

body{
    background-color: hsl(200, 74%, 83%);
    font-size: 20px;
    font-family: 'Times New Roman';
}

header ~ h2{
    text-decoration: underline solid;
}

header{
    text-align: center;
}

header h2, header li{
    text-align: left;
}

.grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* responsive */
    gap: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.attendance{
    text-align: center;
    border: 10px solid white;
    border-style: groove;
    border-color: black;
    border-width: 0.5rem;
    border-radius: 1rem;
    margin: 0.1rem 0.1em 0.1rem 0.1em;
    /* 100px 100px 100px 100px */
    /* 1rem 1em 1rem 1em */
    padding: 50px 50px 50px 50px;
    max-width: fit-content;
    max-height: fit-content;
}

.meeting_time{
    text-align: center;
    border: 0.01in solid white;
    border-style: groove;
    border-color: black;
    border-width: 0.5rem;
    border-radius: 1rem;
    margin: 0.1rem 0.1em 0.1rem 0.1em;
    padding: 50px 50px 50px 50px;
    max-width: fit-content;
    max-height: fit-content;
}

nav{
    text-align: center;
    border: 10px solid white;
    border-style: groove;
    border-color: black;
    border-width: 0.5rem;
    border-radius: 1rem;
    margin-top: 0.1rem;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.1rem;
    /* padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1em;
    padding-right: 1em; */
    padding: 50px 50px 50px 50px;

    max-width: fit-content;
    max-height: fit-content;
}


nav ol{
    width: fit-content;
    margin: auto;
    text-align: left;
}

nav > h2{
    text-decoration: underline solid;
}

hr{
     border: none;
     height: 2px;
     background-color: rgb(0, 5, 5);
}

strong{
    color: black;
}

header h2{
    text-decoration: underline solid;
}

summary ~ h3{
    font-size: 1cm;
}

section h2{
    text-decoration: underline solid;
}

form button{
    background-color: color-mix(in srgb, #bfcde0ff 50%, #5d5d81ff 10%);
}

form fieldset legend{
    background-color: color(display-p3 1 2 100);
}

footer{
    font-family: 'Courier New', Courier, monospace;
}
footer h3 + p{
    font-size: 150%;
    color: rgb(11, 82, 14);
}